<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/about.css">
		<script type="text/javascript" src="/about.js" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
	</head>
	
	<body>
		
		
		
		<nav class="navbar navbar-expand text-white" id="topNav">
			
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="text-white nav-link" href="/home">Home </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/about" id="aboutbutton">About Me</a>
						</li>
						
						<li class="nav-item">
							<a class="text-white nav-link" href="/contact">Contact</a>
						</li>
						
						<li class="nav-item">
							<a class="text-white nav-link" href="IIT_KGP_Avi.pdf" download="IIT_KGP_Avi.pdf">Resume</a>
						</li>
						
						</ul>
					</div>
			</nav>
		
		<div class="container-sm" id="textbox">
		
		<div class="row">
			
			<div class="col-sm-2"></div>
				<div class="col-sm-8 text-justify rounded" id="aboutfirst">
					
					
					<div class="text-center">
  						<img src="images/my-passport-photo.jpg" id="myphoto">
					</div>
					
					<h1 class="text-center" id="name">
						
					</h1>
					
					<p class="hidden" id="aboutspara">
						I am a Pre-Final year student at IIT Kharagpur, interested and experienced in the field of programming, and 						 				Data Science.I am a quick learner and I adapt to changes quite easily. I love to work in a competitive environment which pushes 						me to take the extra mile and helps me in making myself a better person.
					</p>	
				</div>	
			<div class="col-lg-2"></div>
				
				
			
		</div>

		
	</div>
		
	<div class="container-sm hidden" id="inpagelinks">
		
		<div class="row">
			
			<div class="buttonmargin col-sm-3 rounded customshadow text-center" >
				<a href="#internship">
					<button type="button" class="btn btn-lg text-white">Internships</button>
				</a>
				
				
			</div>
			<div class="col-sm-1 rounded " >
				
				
			</div>
			<div class="buttonmargin col-sm-3 text-justify rounded customshadow text-center">	
				<a href="#campusinvolvement">
					<button type="button" class="btn btn-lg text-white">Campus Involvements</button>
				</a>
			</div>	
			<div class="col-sm-1 rounded" >
				
				
			</div>
			<div class="buttonmargin col-sm-3 rounded customshadow text-center">
				<a href="#skills">
					<button type="button" class="btn btn-lg text-white">Skills</button>
				</a>
			</div>
				
				
			
		</div>

		
	</div>	
		
	
	
	
	<div class="container-md customshadow rounded hidden" id="internship">
		<h1 id="internheading">
				INTERNSHIPS
			</h1>
		
		<div class="row">
			
			<div class="col-md-12 text-justify rounded">	
				
				<div class="container-md">
		
				<div class="row">

					<div class="col-md-4 rounded  text-center" >
						<div class="text-center">
							<a href="https://relaso.com/">
								<img src="images/relaso.png" class="companylogo">
							</a>
  							
						</div>
						<h6 class="text-white">
							Relaso Software Enterprise Ltd
						</h6>
						
						<p class="textlightgrey">
							Software Developer Intern 
						</p>
						<p class="textlightgrey">
							(Apr'20-Jul'20)
						</p>

					</div>
					
					

					<div class="col-md-4 text-justify rounded  text-center">	
						<div class="text-center">
							<a href="https://www.3ds.com/">
								<img src="images/dassault.jpg" class="companylogo">
							</a>
  							
						</div>
						<h6 class="text-white">
							Dassault Systemes
						</h6>
						<p class="textlightgrey">
							Software Developer Intern 
						</p>
						<p class="textlightgrey">
							(May'19-Jul'19)
						</p>

					</div>	
					
					

					<div class="col-md-4 rounded  text-center">
						<div class="text-center">
  							<a href="https://www.embibe.com/">
								<img src="images/embibe.png"  class="companylogo">
							</a>
						</div>
						<h6 class="text-white">
							Embibe
						</h6>
						<p class="textlightgrey">
							Content Managment Intern 
						</p>
						<p class="textlightgrey">
							(May'18-Jun'18)
						</p>

					</div>
				</div>

			</div>	
		
				
			</div>	
			
					
		</div>
		
	</div>		
		
		
	<div class="container-md customshadow rounded hidden" id="campusinvolvement">
		<h1 id="internheading">
				CAMPUS INVOLVEMENTS
			</h1>
		
		<div class="row">
			
			<div class="col-md-12 text-justify rounded">	
				
				<div class="container-sm" >
		
				<div class="row">

					<div class="col-md-6 rounded  text-center" >
						<div class="text-center">
							<a href="http://www.sac.iitkgp.ac.in/">
								<img src="images/sac.png" id="sacimg" class="bg-white">
							</a>
  							
						</div>
						<h6 class="text-white">
							Students' Alumni Cell
						</h6>
						
						<p class="textlightgrey">
							Advisor
						</p>
						<p class="textlightgrey">
							(Aug'20-Present)
						</p>

					</div>
					
					

					<div class="col-md-6 text-justify rounded  text-center">	
						<div class="text-center">
							<a href="http://www.gymkhana.iitkgp.ac.in/index.php">
								<img src="images/kgp.png" class="companylogo">
							</a>
  							
						</div>
						<h6 class="text-white">
							Technology Students' Gymkhana
						</h6>
						
						<p class="textlightgrey">
							Secretary Badminton Sub-Committee 
						</p>
						<p class="textlightgrey">
							(Aug'18-Apr'19)
						</p>

					</div>	
					
				
				</div>

			</div>	
		
				
			</div>	
			
					
		</div>
		
	</div>		
		
	<div class="container-md customshadow rounded hidden" id="skills">
		<h1 id="internheading">
				SKILLS
			</h1>
		
		<div class="row">
			
			<div class="col-md-12 text-justify rounded">	
				
				<div class="container-sm" >
		
				<div class="row">

					<div class="col-md-4 rounded  text-center" >
						<div class="text-left">
							
							
							
							<h4 class="text-white">
							Programming Languge
							</h4>
						</div>
						
						<div class="text-left textlightgrey">
						
							<li>
								C
							</li>
							<li>
								C++
							</li>
							<li >
								JAVA
							</li>
							<li>
								JavaScript
							</li>
							<li >
								Python
							</li>
							<li>
								HTML-CSS
							</li>
						</div>
					</div>
					
					

					<div class="col-md-4 text-justify rounded  text-center">	
						<div class="text-left">
							
							
							
  							<h4 class="text-white">
								Softwares and Tools
							</h4>
						</div>
						<div class="text-left textlightgrey">
							

							<li>
								MongoDb
							</li>
							<li>
								Sikuli
							</li>
							<li >
								Autoit
							</li>
							<li>
								SahiPro
							</li>
							<li >
								Node Js
							</li>
							<li>
								Bootstrap
							</li>
						</div>		

					</div>	
					
					

					<div class="col-md-4 rounded  text-center">
						<div class="text-left">
  							
							<h4 class="text-white">
								Courses
							</h4>
						</div>
						<div class="text-left textlightgrey">
							

							<li>
								Programming and Data Structures
							</li>
							<li>
								Machine Learning
							</li>
							<li>
								Probability and Statistics
							</li>
							<li>
								Economics
							</li>
							<li>
								Product Development
							</li>
							<li>
								Foundations of Entreprenuership
							</li>
						</div>	

					</div>
				</div>

			</div>	
		
				
			</div>	
			
					
		</div>
		
	</div>		
		

<%- include("partials/footer") %>