<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" ></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/about.css">
		<script type="text/javascript" src="/about.js" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
	</head>
	
	<body>
		
		
		
		<nav class="hidden navbar navbar-expand text-white" id="topNav">
			
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="text-white nav-link" href="/home">Home </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/about" id="aboutbutton">About Me</a>
						</li>
						
						<li class="nav-item">
							<a class="text-white nav-link" href="/contact">Contact</a>
						</li>
						
						<li class="nav-item">
							<a class="text-white nav-link" href="IIT_KGP_Avi.pdf" download="IIT_KGP_Avi.pdf">Resume</a>
						</li>
						
						</ul>
					</div>
			</nav>
		
		<div class="container-sm" id="jumbo">
			<div class="jumbotron hidden" id="jm">
  			
				<h1 class="textonimg d-none d-md-block" id="name"></h1>
				
				<p class = "textonimg d-md-none" id="namesmall">
				</p>

				<h5 class="textonimg d-none d-md-block" id="aboutspara">
					I am a 4th year student at IIT Kharagpur, interested and experienced in the field of programming, and Data Science
				</h5>	
				
				<p class = "textonimg d-md-none" id="aboutsparasmall">
					I am a 4th year student at IIT Kharagpur, interested and experienced in the field of programming, and Data Science
				</p>
		  
			  <div class="row" id="jumbobutton">
				<a class="btn btn-md textonimg" href="#internship" role="button" id="jumbolbutton">Internships</a>
				 <a class="btn btn-md textonimg" href="#campusinvolvement" role="button" id="jumbombutton">Campus Involvements</a>
				 <a class="btn btn-md textonimg" href="#skills" role="button">Skills</a>
			  </div>
			</div>
		</div>
	
	
		
			
	<div class="container-md customshadow rounded hidden" id="internship">
		<h1 id="internheading">
				INTERNSHIPS
		</h1>
		
	
			<div class="row text-center">
				
				<div class="col-md-4" id="relaso">
					<img src="images/relaso.png" class="companyimg" >
					<p class="font-weight-bold">
						Software Developer Intern
					</p>
					<ul class="text-justify">
						<li>Developed a robust application using JSOUP library in Java to fetch national and state wise covid-19 live data from 							www.mohfw.gov.in</li>
						<li>Developed a web crawler application using the RSS Rome tool and JSOUP in Java to extract admissible data from 25+ news 							websites</li>
					</ul>
					
				</div>	
				<div class="col-md-4 doubleborder" id="dassault">
					<img src="images/dassault.jpg" class="companyimg" >
					<p class="font-weight-bold">
						Software Developer Intern
					</p>
					<ul class="text-justify">
						<li>Automated more than 80 sanity testing scenarios for Inventor cad tool and 3DxCad connector for both cloud & on-premise 							environment</li>
						<li>Reduced the quality assurance time by 30 minutes over manual testing method; Incorporated TestNG framework for logs and 						test cases</li>
					</ul>
					
				</div>	
				<div class="col-md-4" id="embibe">
					<img src="images/embibe.png" class="companyimg" >
					<p class="font-weight-bold">
						Content Managment Intern
					</p>
					<ul class="text-justify">
						<li>Assessed and authored the content related to Joint Entrance Examination; worked on data cleaning for automation of metadata 						tagging</li>
						<li>Ideated a new feature “Smart time-table” based on the maximum efficiency hours and time devoted by a student on a 								particular section</li>
					</ul>
				</div>	
		
			</div>
		
	</div>		
		
	
	<div class="container-md customshadow rounded hidden" id="campusinvolvement">
		<h1 id="internheading">
				CAMPUS INVOLVEMENTS
		</h1>
		
	
			<div class="row text-center">
				
				<div class="col-md-6" id="sac">
					<img src="images/sac.png" class="companyimg" >
					<p class="desgheading">
						Student Member -> Cordinator -> <span class="font-weight-bold">Advisor</span>
					</p>
					<ul class="text-justify">
						<li>Accredited for raising sponsorship from 9 pre-eminent brands worth INR 0.3mn for 16th AAM, highest amongst all the team 						members</li>
						<li>Spearheaded the Affinity Programme and engaged 4 new renowned brands with 40000 alumni, 15000 students and staff of IIT 							Kharagpur</li>
					</ul>
					
				</div>	
				<div class="col-md-6 doubleborder" id="secy">
					<img src="images/kgp.png" class="companyimg" >
					<p class="font-weight-bold">
						Badmiton Secretary (TSG)
					</p>
					<ul class="text-justify">
						<li>Elected as the Secretary Badminton Sub-Committee, Technology Students' Gymkhana by a mandate of 10000+ students of the 							Institute</li>
						<li>Worked under the President, TSG and administered the allocated budget of INR 0.25mn for organising all the TSG badminton 						activities</li>
					</ul>
					
				</div>	
		
			</div>
		
	</div>		
		
	
	<div class="container-md customshadow rounded hidden" id="skills">
		<h1 id="internheading">
				Skills
		</h1>
		
	
			<div class="row text-center">
				
				<div class="col-md-4" id="relaso">
					<p class="font-weight-bold">
						Programming Language
					</p>
					<ul class="text-justify">
						<li>
								C
							</li>
							<li>
								C++
							</li>
							<li >
								JAVA
							</li>
							<li>
								JavaScript
							</li>
							<li >
								Python
							</li>
							<li>
								HTML-CSS
							</li>
					</ul>
					
				</div>	
				<div class="col-md-4 doubleborder" id="dassault">
					<p class="font-weight-bold">
						Software and Tools
					</p>
					<ul class="text-justify">
						<li>
								MongoDb
							</li>
							<li>
								Sikuli
							</li>
							<li >
								Autoit
							</li>
							<li>
								SahiPro
							</li>
							<li >
								Node Js
							</li>
							<li>
								Bootstrap
							</li>
					</ul>
					
				</div>	
				<div class="col-md-4" id="embibe">
					<p class="font-weight-bold">
						Courses
					</p>
					<ul class="text-justify">
						<li>
								Programming and Data Structures
							</li>
							<li>
								Machine Learning
							</li>
							<li>
								Probability and Statistics
							</li>
							<li>
								Economics
							</li>
							<li>
								Product Development
							</li>
							<li>
								Foundations of Entreprenuership
							</li>
					</ul>
				</div>	
		
			</div>
		
	</div>		

		
		

<%- include("partials/footer") %>