<!DOCTYPE html>
<html>
	<head>
		<title>Avi - Portfolio - Contact</title>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/contact.css">
		<script type="text/javascript" src="/contact.js" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
	</head>
	
	<body>
		
		<nav class="navbar navbar-expand text-white" id="topNav">
			
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="text-white nav-link" href="/home">Home</a>
						</li>
						
						<li class="nav-item">
							<a class="text-white nav-link" href="/about">About Me</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="/contact" id="contactbutton">Contact</a>
						</li>
						
						<li class="nav-item">
							<a class="text-white nav-link" href="IIT_KGP_Avi.pdf" download="IIT_KGP_Avi.pdf">Resume</a>
						</li>
						
						</ul>
					</div>
			</nav>
	

		
	<div class="container-sm customshadow" id="git">
		
		<h1 class= "text-white text-center" id="gittxt">
						
		</h1>
		
		<div class="row hidden" id="details">	
			
			<div class="col-sm-3 text-center">
				
				<img src="images/gmail.png" class="companylogo">
				<p class="text-white">
					avisinghr2312@gmail.com
				</p>
			</div>
			
			<div class="col-sm-3 text-center">
				<a class="text-white" href="https://www.facebook.com/avisingh.raghuwanshi/">
					<img src="images/facebook.png" class="companylogo">
					<p class="text-white">
					Facebook
					</p>
				</a>
			</div>
			
			<div class="col-sm-3 text-center">
				<a class="text-white" href="https://www.linkedin.com/in/avi-singh-raghuwanshi-/">
					<img src="images/linkedin.png" class="companylogo">
					<p class="text-white">
					Linkedin
					</p>
				</a>
			</div>
			
			
			<div class="col-sm-3 text-center">
				<img src="images/phone.jpg" class="companylogo">
				<p class="text-white">
					+91-8370888788
				</p>
			</div>
			
		</div>
	</div>		
		
		
		
		
<%- include("partials/footer") %>