html {
  scroll-behavior: smooth;	
}
body{
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

#namesmall{
	
	width: 60%;
}
#name{
	
	width: 45%;
}

#aboutsparasmall{
	
	width: 100%;
}

#aboutspara{
	width: 100%;
}

.jumbotron {
	margin-top: 30px;
	padding-top: 450px;
	background-image: url("images/portfolio2.jpg");
	background-size: cover;
	box-shadow: 0px 0px 10px black;
}

.textonimg{ 
   color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

#jumbolbutton{
	margin-left: 14px;
}

#jumbombutton{
	margin-left: 5px;
	margin-right: 5px;
}

#aboutbutton{
	color:red
}

nav{
	box-shadow: 0 0 10px black;
	border-bottom : solid 1px red;
}

#inpagelinks a{
	box-shadow: 0 0 10px black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.companylogo{
	
   	max-width: 100%;
	max-height: 100%;
}

#sacimg{
	border-radius:5% 5% 5% 5%;  
   	width:auto;
	height:80px;
}

#internship{
	background-color: white;
	margin-top:210px;
	width: 100%;
}

#campusinvolvement{
	background-color: white;
	margin-top:210px;
	width: 100%;
}

#skills{
	background-color: white;
	margin-top:210px;
	width: 100%;
	margin-bottom: 5px;
}
#internheading{
	border-bottom: solid 1px red;
	text-align: center;
}
.customshadow{
	box-shadow: 0 0 10px black;
}

.hidden {
display: none;
}

.textlightgrey{
	color: rgb(204, 204, 204)
}

nav a:hover {
  color: red !important;
  box-shadow: 0 0 2px black;
}

#inpagelinks a:hover {
  color: red !important;
}

#aboutspara{
	animation: slide-left 2s;
}

#aboutsparasmall{
	animation: slide-left 2s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
	  width: 300%;
  }

  to {
    margin-left: 0%;
	width: 100%;
  }
}

.doubleborder{
	border-left: solid 1px black;
	border-right: solid 1px black;
}

#test{
	text-align:center;
}

.companyimg{
	width: auto;
    height: 80px;
}

#relaso:hover{
	box-shadow: 0 0 5px black;
	border: solid 1px black;
	transition: background-color 0.5s linear;
	background-color: #e6e6ff;
}

#dassault:hover{
	box-shadow: 0 0 5px black;
	border: solid 1px black;
	transition: background-color 0.5s linear;
	background-color: #e6e6ff;
}

#embibe:hover{
	transition: background-color 0.5s linear;
	box-shadow: 0 0 5px black;
	border: solid 1px black;
	background-color: #e6e6ff;
}

#sac:hover{
	transition: background-color 0.5s linear;
	box-shadow: 0 0 5px black;
	border: solid 1px black;
	background-color: #e6e6ff;
}

#secy:hover{
	transition: background-color 0.5s linear;
	box-shadow: 0 0 5px black;
	border: solid 1px black;
	background-color: #e6e6ff;
}

.desgheading{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}


