body{
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}


nav{
	box-shadow: 0 0 10px black;
	border-bottom : solid 1px red;
}

#contactbutton{
	color:red
}

.customshadow{
	box-shadow: 0 0 10px black;
}

.flaticon-facebook-logo{
	color:black;
}

.flaticon-linkedin-logo{
	color: black;
	
}

i:hover{
	transition: color 0.5s linear;
	color: #b30000;
}

#git{
	margin-top: 200px;
	background-color: white;
}

h1{
	margin-bottom: 20px;
	border-bottom: solid 1px red;
}


.hidden {
display: none;
}



