body{
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	color: white;
}

@keyframes beat{
	0%{
		transform: translate3d(0px, 0px, 0px);
		
		animation-timing-function: ease-in; 
	}
	50%{
		transform: translate3d(0px, 20px, 0px);
		
		animation-timing-function: ease-out;
	}
	100%{
		transform: translate3d(0px, 0px, 0px);
	}
}

#heart{
	color: red;
	font-size: 50px;
	animation: beat 2s infinite;
}


#instruction{
	color: grey;
}

#homebutton{
	color:red;
}

#textcontainer{
	padding-top: 200px;
}


nav{
	box-shadow: 0 0 10px black;
	border-bottom : solid 1px red;
}

.hidden {
display: none;
}

a:hover {
  color: red !important;
  box-shadow: 0 0 2px black;
}